@use "../abstracts/variables" as *;

.legal-notice-page {
  padding: $spacing-section 0;
}

.legal-notice-page__content {
  display: grid;
  gap: 1.5rem;
  margin-top: 3rem;
}

.legal-notice-page__link {
  color: $color-primary;
  font-weight: 600;
  text-decoration: none;
}

.legal-notice-page__link:hover {
  text-decoration: underline;
}
